# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.idea/
# clerk configuration (can include secrets)
/.clerk/

# cursor 
.cursorrules
/memory-bank

# Sentry Config File
.env.sentry-build-plugin
env.example.txt
docs/onboarding-permissions.md
firestore.rules
